@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400&family=Gaegu:wght@300;400&family=Indie+Flower&display=swap');

.recipe-form {
  margin:auto;
}

.recipe-container {
  background-color: #DEEFD0;
  border-radius: 20px;
  /* box-shadow: 10px 10px 10px #F77159; */
}

.recipe-chip {
  font-family: "Gaegu";
}

.ingredients-list {
  max-height: 50vh;
  overflow-y: auto;
}

.filledChip {
  background-color: red;
}

.selectedImg {
  box-shadow:0 0 20px green;
}

.allImg {
  cursor: pointer;
}
.allImg:hover {
  box-shadow: 0 0 20px green;
}
