#review-modal {
  position: fixed;
  z-index: 1300;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container {
  background-color: #F6F5F3;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 12px;
  padding: 24px;
  border-radius: 8px;
  overflow: hidden;
}

.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-title {
  margin: 0;
  line-height: 1.5rem;
  margin-bottom: 8px;
  font-family: 'Dosis';
}

.modal-description {
  margin: 0;
  line-height: 1.5rem;
  font-weight: 400;
  margin-bottom: 4px;
}

.edit-review{
  display: flex;
  flex-direction: column;
  margin-left:auto;
}
